.loginBtn{
    text-transform: capitalize;
    --ion-color-base : var(--ion-color-chefCanPrimary);
    color:white !important;
    font-size: 17px;
    --box-shadow :none;
  
}

ion-input{
    font-size: 19px;
    color: grey;
    font-weight: 400;
}