<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" color="danger">
          <ion-back-button color="danger"  defaultHref="login"></ion-back-button>
        </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="contentBg">
   <div class="formMainDiv" padding>
          <h5 class="titleCls">Forgot Password?</h5>
         <p class="subTitle">Enter the email address associated with your account.</p>
         <p class="sendLinkInfo">We will send you link to reset your password</p>
         <form (ngSubmit)="send()">
            <ion-item>
              <ion-label position="floating">EMAIL ID</ion-label>
             <ion-input class="emailCls" required type="text" [(ngModel)]="loginForm.email" name="email"></ion-input>
           </ion-item>
            <br><br><br>
             <ion-button expand="block" class="loginBtn" type="submit">Login</ion-button>
           </form>
   </div>
</ion-content>
<div class="overlay_dropdown annuity discover_info" *ngIf="showPopup">
  <div class="overlay_dropdown_content animated bounceIn">
      <div class="overlay_dropdown_content_inner" padding>
        <h2 padding style="text-align:center"><b>Your Email Id does not exit</b></h2><br>
        <ion-button expand="block" class="okBtn" (click)="showPopup = false">Okay</ion-button>

   </div>
  </div>
  </div>
  